section.about {
	@include planets_and_about_description;
	.about_greeting {
		margin-bottom: 5rem;
	}
	.about_slider {
		@include aligning_element;
		margin-bottom: 3rem;
		button.slick-prev.slick-arrow, button.slick-next.slick-arrow {
			position: absolute;
			background: url("../img/arrow_for_all.svg") transparent no-repeat;
			fill: #fff;
			border: none;
			cursor: pointer;
			width: 34px !important;
			height: 34px !important;
		}
		button.slick-prev.slick-arrow {
			left: 10%;
			transform: rotate(-180deg) ;
			@media (max-width: 767px) {
				left: -1%;
			}
		}
		button.slick-next.slick-arrow {
			right: 10%;
			@media (max-width: 767px) {
				right: -1%;
			}
		}
		.slick-list.draggable {
			width: 70%;
			@media (max-width: 767px) {
				width: 90%;
			}
			div .slick-slide {
				img {
					width: 100% !important;
					height: 450px !important;
					object-fit: cover;
					@media (max-width: 767px) {
						height: 300px !important;
					}
				}
			}
		}
	}
	@include section_description_with_adds;
	.common_description {
		margin-bottom: 0;
		.common_description_item {
			margin-bottom: 0;
			.common_description_text {
				margin-bottom: 0;
			}
		}
	}
}
